.woocommerce #sidebar{display:none}

form#cc_form{
    color:#334;
	
}

.wirecard_form_half {
	max-width:48%;
	width:48%;
	float:left;
	margin:0px;
	padding:1%;
}

form#cc_form input.cc_cvc{
}

form#cc_form div.expiry{
    width: 50%;
}

table#cc_form_table td{
	padding:5px;
	border:none;
}
table#cc_form_inputs_table{
	border:none;
}
table#cc_form_inputs_table td {
	border:none;
	font-size:14px;
}

table#cc_table{
    font-size:0.9em;
    width:100%;
	border:none;
}

table#cc_table th.empty, td.empty{
    border:0px !important;
}

table#cc_table td, table#cc_table th {
    padding:5px;
    margin:0;
    border:1px solid #eee;
    text-align: center;
	font-size:12px;
}

table#cc_table tr:hover {
    background: #eee;
    cursor: pointer;
}

form#cc_form input[type="text"]{
    font-size: 1.2em;
    border-radius: 5px;
    padding: 3px 20px;
    vertical-align: initial;
    /* line-height: 26px; */
    border-spacing: 2px;
    border-style: solid;
    border-color: #ccc;
    color: green;
}

form#cc_form input.error {
    color:red;
}

button#cc_form_submit:disabled {
	color:#ccc;
	background-color:#eee;
}

button#cc_form_submit {
	background-color:#0a0;
	color:#fff;
	border:2px solid #fff;
	border-radius:7px;
}

.has-error input {
    border-width: 2px;
}
#cc_validation.text-danger:after {
    content: 'Validation failed';
    color:red;
}
#cc_validation.text-success:after {
    content: 'Validation passed';
    color:green;
}